/* --- Service Images --- */
.service-img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  overflow: hidden;
}

.service-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
